ios/Podfile.lock
pubspec.lock
android/local.properties
ios/Pods
ios/Flutter/flutter_assets
ios/Flutter/App.framework/flutter_assets
ios/.symlinks
android/.gradle
android/build
.idea/
.flutter-plugins
.packages
lib/firebase_config.dart
build
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
